The following generates results using the bayes object. Does not deliver any specific results in the paper, but might be useful to gain a better understanding of the model

In [1]:
from bayesprob import *

In [2]:
#A simple probability object
#Below the receiver has a fixed belief that the priors of the source are fixed and the same as theirs (theta=0,phi=1)
#In this circumstance any probability will be accepted verbatim
a=bayes(p=0.01,n_0=2,a_0=.5,lamda_0=.5,theta=.5,phi=.5,delta=[.5,0],n_r=2,a_r=.5)
b,c,d=copy(a),copy(a),copy(a)
b.a_r,b.a_0=0.1,.1
c.a_r,c.a_0=0.01,.01
d.a_r,d.a_0=0.001,.001

In [3]:
#The ex_ante priors and the parameters are as set above
init=pd.concat([b.initial(),c.initial(),d.initial()])
init.index=['£10','£100','£1000']
l=list(init.columns)
l[0]='Winning Prob'
init.columns=l
init=init.drop([l[0]],axis=1)
init['Prior E-Val']=[1.00,1,1]

init.index.name='Payoff'
init

,$a_{0}$,$n_{0}$,$λ_{0}$,$θ$,$δ_{0}$,$δ_{1}$,$ϕ$,$n_r$,$a_r$,$π_{0}$,Prior E-Val
Payoff,,,,,,,,,,,
£10,0.100,2.0,0.5,0.5,0.5,0.0,0.5,2.0,0.100,0.100,1.0
£100,0.010,2.0,0.5,0.5,0.5,0.0,0.5,2.0,0.010,0.010,1.0
£1000,0.001,2.0,0.5,0.5,0.5,0.0,0.5,2.0,0.001,0.001,1.0

In [4]:
expost=pd.concat([b.expost(),c.expost(),d.expost()])
l=list(expost.columns)
expost.index=['£10','£100','£1000']
expost['Sub Expectation']=expost[l[6]]*np.array([10,100,1000])
expost['Ob Expectation']=[10/100,100/100,1000/100]
expost=expost.drop(l[8],axis=1)
expost.round(3)

,$a$,$n$,$N$,$x$,$x/N$,$λ$,$π_{r}$,$π_{s}$,Sub Expectation,Ob Expectation
£10,0.032,0.867,4.615,0.027,0.006,0.158,0.034,0.01,0.344,0.1
£100,0.010,2.000,2.000,0.020,0.010,0.500,0.010,0.01,1.000,1.0
£1000,0.006,1.991,2.009,0.029,0.014,0.498,0.008,0.01,7.740,10.0

In [5]:
init.to_csv('tab1.csv')